<footer class="footer">
  <div class="container">
    <div class="footer-content">

      <div class="footer-top">
        <div class="footer-logo">
          <a href="#hero" aria-label="Zur Startseite von Jason Holliday" (click)="setActive('#hero')">
            <img src="/P-1kopie.png" class="navbar-logo" alt="Logo von Jason Holliday – Zur Startseite" />
          </a>
        </div>
        <p>&copy; 2025 Jason Holliday. Alle Rechte vorbehalten.</p>
      </div>

      <!-- Social Icons -->
      <div class="social-icons">
        <a href="https://www.instagram.com/jasonhollidaymagic/?hl=de" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/p/Jason-Holliday-100068616200407/" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.tiktok.com/@jasonhollidaymagic" target="_blank" aria-label="TikTok">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>

      <!-- Links -->
      <nav class="footer-links">
        <a routerLink="/impressum">Impressum</a>
        <a routerLink="/datenschutz">Datenschutz</a>
        <a routerLink="/widerrufsrecht">Widerrufsrecht</a>
        <a routerLink="/cookies">Cookies</a>
      </nav>

    </div>
  </div>
</footer>
