<section class="about-me" id="about-me">
    <div class="container" id="about-content">
        <div class="about-text">
            <h1>Über mich</h1>
            <p>
                Hallo, ich bin Jason Holliday, 30 Jahre alt und leidenschaftlicher Zauberkünstler. <br>
                Alles begann, als mein Bruder mir einen kleinen Kartentrick zeigte.<br>
                Um herauszufinden wie genau er das gemacht, hat suchte ich also nach genau diesem Trick auf Youtube.<br>
                
                Obwohl ich den Trick meines Bruders nicht entschlüsseln konnte, stieß ich auf eine Vielzahl anderer Kartentricks. Neugierig und begeistert begann ich, diese Tricks nach und nach zu erlernen.<br>
                Mittlerweile beherrsche ich eine umfangreiche Sammlung an Zauberkunststücken.<br>
                 
                Meine Spezialität sind Kartentricks, aber auch Tricks mit Münzen und Gummibändern!<br>
                 
                Ich freue mich schon sehr, mit euch zu zaubern und gemeinsam unvergessliche Momente zu erleben.<br>
            </p>
            <button class="cta-button" (click)="openModal()">Kostenlos anfragen</button>
        </div>
        <div class="about-img">
            <img src="/Image_Hero_Section.png" alt="">
        </div>
    </div>
</section>