
# Temporary files
/tmp
/out-tsc
/bazel-out

# Node.js dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# History folder (wenn vorhanden)
.history/*

# Angular cache
frontend/.angular/cache/

# Sass cache
.sass-cache/

# Logs
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# System files
.DS_Store
Thumbs.db

# Environment variables
frontend/.env
backend/.env
.env

# Local Netlify folder
.netlify
