<section class="widerruf-container container">
    <h1>Widerrufsbelehrung und Widerrufsformular für Verbraucher</h1>

    <p>
        "Verbraucher" im Sinne dieser Widerrufsbelehrung ist jede natürliche Person,
        die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer
        gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet
        werden können.
    </p>

    <h2>Muster-Widerrufsformular</h2>

    <p>
        (Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)
    </p>

    <p><strong>An</strong><br>
        Jason Holliday<br>
        Mathildenstraße 38A<br>
        90762 Fürth<br>
        E-Mail-Adresse: info&#64;jasonhollidaymagic.de</p>

    <p>
        Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den<br>
        Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienstleistung (*)
    </p>

    <p>______________________________________________________<br>
        ______________________________________________________
    </p>

    <p>Bestellt am (*) ____________ / erhalten am (*) _________________</p>

    <p>_______________________________________________________<br>
        Name des/der Verbraucher(s)
    </p>

    <p>_______________________________________________________<br>
        Anschrift des/der Verbraucher(s)
    </p>

    <p>_______________________________________________________<br>
        Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
    </p>

    <p>_________________________<br>
        Datum
    </p>

    <p>(*) Unzutreffendes streichen.</p>

    <p><a href="https://datenschutz-generator.de/" target="_blank">Erstellt mit kostenlosem Datenschutz-Generator.de von
            Dr. Thomas Schwenke</a></p>
</section>