<section class="hero" id="hero" aria-labelledby="hero-heading">
    <div class="container">
      <div class="hero-content">
        <div class="hero-header">
          <h1 id="hero-heading">Magische Highlights für dein nächstes Event!</h1>
          <p>Schenke deinen Gästen eine Auszeit vom Alltag – mit meiner Zaubershow als Highlight deines Events.</p>
          <ul class="checklist">
            <li><i class="fas fa-check"></i> Für Firmenevents, Hochzeiten und Geburtstage</li>
            <li><i class="fas fa-check"></i> Buchbar in ganz Bayern</li>
            <li><i class="fas fa-check"></i> Erlebe Magie in deinen eigenen Händen</li>
          </ul>
          <button class="cta-button" (click)="openModal()">Kostenlos anfragen</button>
        </div>
  
        <div class="hero-video">
          <iframe 
            src="https://www.youtube-nocookie.com/embed/0hFv1v8SFGQ?si=kaEerUlhhPw1YpsK"
            title="Showreel von Jason dem Zauberer"
            loading="lazy"
            allowfullscreen
            referrerpolicy="strict-origin-when-cross-origin"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  