<section class="events" id="events">
    <div class="container">
        <div class="event-text">
            <div class="event-intro">
                <h1>Unvergessliche Erlebnisse für eure besonderen Anlässe</h1>
                <p>Mein Maßgeschneiderts Angebot für dich...</p>
            </div>
            <div class="event-content">
                <div class="event-item">
                    <i class="fas fa-heart"></i>
                    <h2>Hochzeiten</h2>
                    <p>
                        Eure Hochzeit ist ein ganz besonderer Tag!
        
                        Ich trage gerne dazu bei, ihn noch magischer zu gestalten. Während ihr eure Hochzeitsfotos macht, sorge ich dafür, dass eure Gäste nicht nur warten, sondern auch verzaubert werden.
                        
                        Mit meiner Close-Up Show wandere ich von Tisch zu Tisch und präsentiere atemberaubende Zaubertricks hautnah. Keine Angst, denn Tische sind dazu nicht unbedingt notwendig.
                        
                        Eure Hochzeitsgäste werden in Staunen versetzt, indem ich ihre Gedanken lese, Karten auf ungewöhnliche Art und Weise finde oder verschmelzen lasse. 
                    </p>
                </div>
                <div class="event-item">
                    <i class="fas fa-briefcase"></i>
                    <h2>Firmenevents</h2>
                    <p>
                        Verwandle dein nächstes Firmenevent in ein unvergesslichen Erlebnis, ganz gleich in welcher Form es stattfindet!
        
                        Meine Zaubershow ist die perfekte Wahl!
                        
                        Sie wird zum Höhepunkt deiner Veranstaltung und garantiert, dass deine Kunden, Mitarbeiter oder Kollegen ein außergewöhnliches Erlebnis haben. Mit meiner Close-Up Show kommst du meiner Magie hautnah!
                        
                        Erlebe selbst, wie ich deine Gedanken lese oder Karten sich in deiner Hand verwandeln.
                        
                        Diese Zaubertricks sorgen für Gesprächsstoff, der noch lange nach dem Event im Büro die Runde machen wird.                
                    </p>
                </div>
                <div class="event-item">
                    <i class="fas fa-birthday-cake"></i>
                    <h2>Geburtstage</h2>
                    <p>
                        Möchtest du deinen Geburtstag auf eine ganz besondere Art und Weise feiern?
        
                        Überrasche deine Gäste mit meiner faszinierenden Magie und schaffe unvergessliche Momente, die deine Feier zu einem einzigartigen Erlebnis machen.
                        
                        Ich werde nicht nur die Gedanken deiner Gäste lesen, sondern auch Karten an unmögliche Orte teleportieren. Außerdem sind meine Tricks besonders interaktiv, da auch die Zuschauer selbst zaubern werden!
                        
                        Egal ob du 18, 30 oder 80 wirst, meine Zaubershow ist perfekt für Jung und Alt geeignet und wird die Gäste in Staunen versetzen.                
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button class="cta-button" (click)="openModal()">Kostenlos anfragen</button>
        </div>
    </div>
</section>