<div class="datenschutz-container container">

  <h1>Datenschutz</h1>

  <h2>Präambel</h2>
  <p>
    Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als "Daten" bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb externer Onlinepräsenzen, wie z. B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als "Onlineangebot").
  </p>

  <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
  <p>Stand: 24. März 2024</p>

  <h2>Inhaltsübersicht</h2>
  <ul>
    <li>Präambel</li>
    <li>Verantwortlicher</li>
    <li>Übersicht der Verarbeitungen</li>
    <li>Maßgebliche Rechtsgrundlagen</li>
    <li>Sicherheitsmaßnahmen</li>
    <li>Übermittlung von personenbezogenen Daten</li>
    <li>Internationale Datentransfers</li>
    <li>Löschung von Daten</li>
    <li>Rechte der betroffenen Personen</li>
    <li>Bereitstellung des Onlineangebots und Webhosting</li>
    <li>Einsatz von Cookies</li>
    <li>Kontakt- und Anfrageverwaltung</li>
    <li>Änderung und Aktualisierung der Datenschutzerklärung</li>
    <li>Begriffsdefinitionen</li>
  </ul>

  <h2>Verantwortlicher</h2>
  <p>
    Jason Holliday<br>
    Mathildenstraße 38A<br>
    90762 Fürth<br>
    E-Mail-Adresse: <a href="mailto:info@jasonhollidaymagic.de">info&#64;asonhollidaymagic.de</a><br>
    Impressum: <a href="https://jasonhollidaymagic.de/impressum/" target="_blank">jasonhollidaymagic.de/impressum</a>
  </p>

  <h2>Übersicht der Verarbeitungen</h2>
  <h3>Arten der verarbeiteten Daten</h3>
  <ul>
    <li>Kontaktdaten</li>
    <li>Inhaltsdaten</li>
    <li>Nutzungsdaten</li>
    <li>Meta-, Kommunikations- und Verfahrensdaten</li>
  </ul>

  <h3>Kategorien betroffener Personen</h3>
  <ul>
    <li>Kommunikationspartner</li>
    <li>Nutzer</li>
  </ul>

  <h3>Zwecke der Verarbeitung</h3>
  <ul>
    <li>Kontaktanfragen und Kommunikation</li>
    <li>Sicherheitsmaßnahmen</li>
    <li>Verwaltung und Beantwortung von Anfragen</li>
    <li>Feedback</li>
    <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit</li>
    <li>Informationstechnische Infrastruktur</li>
  </ul>

  <h2>Maßgebliche Rechtsgrundlagen</h2>
  <p>
    Maßgebliche Rechtsgrundlagen nach der DSGVO: </p>
    <ul>
      <li>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO)</li>
      <li>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</li>
      <li>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</li>
    </ul>


  <h2>Sicherheitsmaßnahmen</h2>
  <p>
    Wir treffen nach Maßgabe der gesetzlichen Vorgaben geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.
  </p>

  <h2>Übermittlung von personenbezogenen Daten</h2>
  <p>
    Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass diese an andere Stellen, Unternehmen oder Personen übermittelt werden.
  </p>

  <h2>Internationale Datentransfers</h2>
  <p>
    Datenverarbeitung in Drittländern erfolgt nur im Einklang mit den gesetzlichen Vorgaben.
  </p>

  <h2>Löschung von Daten</h2>
  <p>
    Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen werden.
  </p>

  <h2>Rechte der betroffenen Personen</h2>
  <p>
    Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben.
  </p>

  <h2>Bereitstellung des Onlineangebots und Webhosting</h2>
  <p>
    Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können.
  </p>

  <h2>Einsatz von Cookies</h2>
  <p>
    Cookies sind kleine Textdateien, die Informationen auf Endgeräten speichern und aus ihnen auslesen.
  </p>

  <h2>Kontakt- und Anfrageverwaltung</h2>
  <p>
    Bei der Kontaktaufnahme mit uns werden die Angaben der anfragenden Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen erforderlich ist.
  </p>

  <h2>Änderung und Aktualisierung der Datenschutzerklärung</h2>
  <p>
    Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren.
  </p>

  <h2>Begriffsdefinitionen</h2>
  <p>
    In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten Begrifflichkeiten. Soweit die Begrifflichkeiten gesetzlich definiert sind, gelten deren gesetzliche Definitionen. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem Verständnis dienen.
  </p>
  <h3>Personenbezogene Daten</h3>
  <p>
    "Personenbezogene Daten" sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person") beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z. B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
  </p>

  <h3>Verantwortlicher</h3>
  <p>
    Als "Verantwortlicher" wird die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.
  </p>

  <h3>Verarbeitung</h3>
  <p>
    "Verarbeitung" ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln oder das Löschen.
  </p>

  <footer>
    <p><a href="https://datenschutz-generator.de/" target="_blank">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
  </footer>

</div>
