<section class="instruction">
  <div class="container">
    <div class="step-headline">
      <h1>Fast geschafft – mit nur drei Schritten zu deiner magischen Veranstaltung!</h1>
      <p>Du möchtest deine Gäste mit faszinierender Zauberkunst begeistern? So einfach funktioniert’s:</p>
    </div>
    <div class="step-by-step">
      <div class="step-one">
        <i class="fas fa-envelope"></i> 
        <h2>Anfrage senden</h2>
        <p>Teile mir deine Eventdetails mit – egal ob Geburtstag, Firmenfeier oder Hochzeit. Klicke einfach auf <strong>„Kostenlos anfragen“</strong> und ich melde mich zeitnah bei dir.</p>
      </div>

      <div class="arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>

      <div class="step-two">
        <i class="fas fa-phone"></i>
        <h2>Telefonat vereinbaren</h2>
        <p>Wir besprechen persönlich, wie die Magie perfekt zu deinem Event passt.</p>
      </div>

      <div class="arrow">
        <i class="fa-solid fa-arrow-right"></i> 
      </div>

      <div class="step-three">
        <i class="fas fa-magic"></i>
        <h2>Zaubershow erleben</h2>
        <p>Freu dich auf eine unvergessliche Performance, die deine Gäste verzaubern wird.</p>
      </div>
    </div>
    <div class="btn-container">
      <button class="cta-button" (click)="openModal()">Kostenlos anfragen</button>
    </div>
  </div>
</section>
