<div class="videoTestimonial-wrapper">
  @for (videoTestimonial of videoTestimonials; track videoTestimonial) {
    <div class="video-testimonial">
      <video
        [src]="videoTestimonial.video"
        controls
        preload="none"
        width="640"
        height="360"
      ></video>
    </div>
  }
</div>

<div class="testimonial-wrapper">
  @for(testimonial of testimonials; track testimonial) {
  <div class="testimonial">
    <div class="testimonial-info">
      @if(testimonial.image) {
      <img src="{{testimonial.image}}" alt="">
      }
      <h2>{{testimonial.author}}</h2>
      <div class="stars">
        @for (star of stars; track star) {
        <i class="fas fa-star"></i>
        }
      </div>
    </div>
    <p>{{testimonial.text}}</p>
  </div>
  }
</div>